.form-label {
        font-size: 14px;
        font-weight: 600;
        margin-top: 20px;
}

.gradient-btn{
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 50px;
  transition: 0.5s;
  background: linear-gradient(to right, #02305c, #49a1f9);
  color:white;
  padding: 8px 20px;
}

.gradient-btn:hover {
  color:white;
  background: #02305c;
}

.red_star{
    color:red;
}